<%if @short_url.errors.present?%>
    var errors = '' 
    <%@short_url.errors.full_messages.each do |error|%>
        errors += '<p><%=error.gsub('Original url','Url')%></p>' 
    <%end%>
    $('#error_explanation').html(errors)
    $('#error_explanation').show()
    setTimeout(function(){
        $('#error_explanation').hide()
    },2000)
    $('#shorturl').html("")
<%else%>
    $('#shorturl').html("<b><a href='<%=@short_full_url%>' target='_blank'> <%=@short_full_url%> </a></b>")
<%end%>